<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Ajouter une entree</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/annuaire/css/styles.css">
</head>

<body>

	Ajouter
	<br>
	<fieldset>
		<form action="/annuaire/ajouter" method="post">
			<label for="name">Nom : 
			<input type="text" id="name" name="name" size="30" />
			</label> <br> 
			<label for="surname">Prenom : 
			<input type="text" id="surname" name="surname" size="30" />
			</label> <br> 
			<label for="phone">Telephone : 
			<input type="text" id="phone" name="phone" size="30" />
			</label> <br> 
			<label for="ville">Ville : 
			<input type="text" id="city" name="city" size="30" />
			</label><br> 
			<input type="submit" value="Submit" />
		</form>
	</fieldset>
</body>
</html>
