<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Annuaire</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/annuaire/css/styles.css">
</head>

<body>
	<div>
		<div class="leftBlock">
			Recherche :
			<form action="#" th:action="@{/annuaire/recherche}" method="get">
				<p>
					Nom: <input type="text" name="name" />
				</p>
				<p>
					<input type="submit" value="Submit" />
				</p>
				
				<p><a href="/annuaire/ajouter">Ajouter une entrée</a> </p>
			</form>
				
		</div>
		<div>
			Resultat :
			<div class="divTable">

				<div class="headRow">
					<div class="headCell">Id</div>
					<div class="headCell">Nom</div>
					<div class="headCell">Telephone</div>
				</div>



				<th:block th:if="${entries.empty}">
					<td colspan="2">Pas d'entree disponible</td>
				</th:block>
				<th:block th:each="entry: ${entries}">
					<div class="divRow">
						<div class="divCell" data-title="Id">
							<span th:text="${entry.getId()}"> Id </span>
						</div>
						<div class="divCell" data-title="Name">
							<span th:text="${entry.getName()}"> Nom </span>
						</div>
						<div class="divCell" data-title="Phone">
							<span th:text="${entry.getPhone()}"> Telephone </span>
						</div>
			<div class="divCell" data-title="Modifier">
				<a th:href="@{|/annuaire/modifier/${entry.getId()}|}">Modifier</a>
				<a th:href="@{|/annuaire/supprimer/${entry.getId()}|}">Supprimer</a>
			</div>
		</div>
	</th:block>

			</div>
		</div>
	</div>
						
</body>
</html>
